/*Адаптивный дизайн*/

/*Будет ли смотреться на 4к мониторе? Ультрашироком.*/
  @media (min-width: 1200px) {
    .logo {
        height: 100px;
    }
  }

  @media (max-width: 1200px) {
    .logo {
        height: 80px;
    }
  }

  @media (max-width: 992px) {
    .logo {
        height: 60px;
    }
  }

  @media (max-width: 768px) {
    .logo {
        height: 40px;
    }
  }

  @media (max-width: 576px) {
    .logo {
        height: 50px;
    }
  }

/*Заголовок*/
body {
  margin: 0px;
  background-color: rgb(57, 62, 70);
}

.header {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgb(189, 221, 228),
    rgb(176, 219, 156)
  );
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  display: inline-flex;
  align-items: center;
  justify-items: center;
}

.logo {
  display: flex;
  margin: 5px;
  margin-right: 0px;
  border-radius: 100%;
}

#name {
  display: flex;
  margin: 0px;
  width: 100%;
  justify-content: center;
  font-family: "Courier-new", monospace;
  color: rgb(170, 217, 187);
  text-shadow: 1px 2px 2px rgb(128, 188, 189);
}
